
# Homebrew
if [[ "$(uname -m)" == "arm64" ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# autojump  -- installed by homebrew
  [ -f ${HOMEBREW_PREFIX}/etc/profile.d/autojump.sh ] && . ${HOMEBREW_PREFIX}/etc/profile.d/autojump.sh

# bat
export BAT_THEME="Dracula"

# python
alias python="python3"
alias pip="pip3"
alias py="python"

# golang env setting
export GO111MODULE='on'
export GOMODCACHE=${HOME}/.local/share/go/pkg/mod
export GOPATH=${HOME}/.local/share/go
export GOPROXY='https://goproxy.cn,direct'
