
# Homebrew
if [[ "$(uname -m)" == "arm64" ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# autojump  -- installed by homebrew
  [ -f ${HOMEBREW_PREFIX}/etc/profile.d/autojump.sh ] && . ${HOMEBREW_PREFIX}/etc/profile.d/autojump.sh

# bat
export BAT_THEME="Dracula"

# yazi
function ya() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXX")"
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

# python
alias py3="python3"

# golang env setting
export GO111MODULE='on'
export GOMODCACHE=${HOME}/.local/share/go/pkg/mod
export GOPATH=${HOME}/.local/share/go
export GOPROXY='https://goproxy.cn,direct'

# rust
source "$HOME/.cargo/env"
